/* nav start */
.nav-link:hover {
    border-top: 3px solid #cb5e37;
    transition: all .3s;
}

.nav-link {
    border-top: 3px solid transparent;
    transition: all .3s;
}

/* .active{
    border-top: 3px solid #cb5e37;
} */

.navigasiHomeProduct {
    font-size: x-small;
}

/* nav end */

/* start item Product */
.item:hover {
    background-color: #e6e3e0;
    transition: all .5s;
    border-radius: 10px;
    cursor: pointer;
}

/* end item product */

/* startt nav autohide */
.autohide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}
/* end autohide */

/* button start */
.tombol {
    font-size: x-small;
    background-color: #bd7658;
    color: #f8ddc2;
}

.tombol:hover {
    background-color: #d19f8a;
    color: #f8ddc2;
    transition: all .5s;
}

.tombol-produk {
    background-color: #c4c4c4;
    text-decoration: none;
    color: whitesmoke;
}

.tombol-produk:hover {
    color: whitesmoke;
    background-color: #d6592b;
    transition: all .5s;

}

.activeLeft {
    padding: 5px;
    cursor: pointer;
}

.activeLeft:hover {
    border-left: 3px solid #cb5e37;
}

/* button end */

/* icon start*/
.icon {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 2rem;
}

.icon:hover {
    background-color: #cb5e37;
    color: #fefdf9;
    transition: all .5s;
}

/* icon end */



/* image start */
.imageHead {
    cursor: pointer;
}

.imageHead:hover {
    transform: scale(1.1, 1.1);
    transition: all .5s;
}

/* image end */

/* youtube start */
.youtube-grid {
    display: grid;
    padding: 10px;
    grid-template-areas:
        'sub-youtube1 sub-youtube2'
        'youtube-katamereka sub-youtube2';
}

.sub-youtube1 {
    display: grid;
    grid-area: sub-youtube1;
    place-content: center;
    padding-top: 20px;

}

.sub-youtube2 {
    display: grid;
    grid-area: sub-youtube2;

}

.youtube-katamereka {
    display: grid;
    grid-area: youtube-katamereka;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 25px;
    gap: 10px;

}

.youtubeimg {
    padding: 10px;

}

.coveryoutube {
    display: grid;
    place-content: center;
    padding: 10px;
    background-color: whitesmoke;

}

/* youtube end */

/* nav content start */
.tab-content {
    background-color: #cb5e37;
    padding: 1px;
}

.nav-tabs {
    border-bottom: transparent;
    border-top: 1px solid #dddddd;
}

.nav-tabs>li {
    float: left;
    margin-top: -1px;
}

.nav-tabs>.nav-link {
    color: #69422d;
    margin-right: 2px;
    line-height: 1.42857143;
    background-color: #c4c4c4;
    border-radius: 0 0 4px 4px;
    padding: 10px;
}

.nav-tabs>.nav-link:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs>.nav-link.active {
    color: #fefdf9 !important;
    background-color: #cb5e37 !important;
    border: 2px solid #cb5e37 !important;
    border-top-color: transparent !important;
    margin-top: -1px !important;
}

.nav-tabs>.nav-link.active:hover,
.nav-tabs>.nav-link.active:focus {
    color: #fefdf9;
    background-color: #cb5e37;
    border: 2px solid #cb5e37;
    border-top-color: transparent;
    cursor: default;
    margin-top: -1px;
}

/* nav end */
.box-client {
    border: 1px solid #e5e5e5;
    height: 9rem;
    width: 9rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.box-client>img {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    filter: grayscale(100%);
}

.box-client:hover>img {
    filter: grayscale(0%);
}

/* breakpoint start */
@media (min-width: 320px) {
    .imageHead {
        width: 300px;
        height: 300px;
        padding-bottom: 20px;
    }

    /* .projectList:hover {
        background-color: #F5F5F5;
        transform: scale(1, 1.4);
        transition: all .3s;
        border: 5px solid  #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
    } */

    .contact {
        width: 300px;
        height: 270px;
        border: 2px solid #9b7856;
        margin-bottom: 100px;
        font-size: 10px;
    }

    .pcnav {
        display: none;
    }

    .ipnav {
        display: flex;
    }

    .navigasiHomeProduct {
        font-size: x-small;
    }

    .tombol-produk {
        width: 100%;
    }

    .youtube-grid {
        display: grid;
        padding: 10px;
        grid-template-areas:
            'sub-youtube1'
            'youtube-katamereka'
            'sub-youtube2';
    }

    .youtube-katamereka {
        grid-template-columns: 1fr;
        padding: 0;
    }
}

@media (min-width: 375px) {
    .imageHead {
        width: 300px;
        height: 300px;
        padding-bottom: 20px;
    }

    /* .projectList:hover {
        background-color: #F5F5F5;
        transform: scale(1, 1.4);
        transition: all .3s;
        border: 5px solid  #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        
    } */

    .contact {
        width: 300px;
        height: 270px;
        border: 2px solid #9b7856;
        margin-bottom: 100px;
        font-size: 10px;
    }

    .pcnav {
        display: none;
    }

    .ipnav {
        display: flex;
    }

    .navigasiHomeProduct {
        font-size: x-small;
    }

    .tombol-produk {
        width: 100%;
    }

    .youtube-grid {
        display: grid;
        padding: 10px;
        grid-template-areas:
            'sub-youtube1'
            'youtube-katamereka'
            'sub-youtube2';
    }

    .youtube-katamereka {
        grid-template-columns: 1fr;

    }
}

@media (min-width: 425px) {
    .imageHead {
        width: 350px;
        height: 350px;
        padding-y: 20px;
    }

    .contact {
        width: 350px;
        height: 270px;
        border: 3px solid #9b7856;
        margin-bottom: 100px;
        font-size: 12px;
    }

    .ipnav {
        display: flex;
        padding: 15px;
    }

    .textNavigasiHomeProduct {
        font-weight: normal;
        color: #bd7658;
    }

    .youtube-grid {
        display: grid;
        padding: 10px;
        grid-template-areas:
            'sub-youtube1'
            'youtube-katamereka'
            'sub-youtube2';
    }

    .youtube-katamereka {
        grid-template-columns: 1fr;
        padding: 25px;

    }
}

@media (min-width: 768px) {

    .imageHead {
        width: 500px;
        height: 500px;
    }

    .contact {
        width: 90%;
        height: 250px;
        border: 3px solid #9b7856;
        margin-bottom: 100px;
        font-size: 18px;
    }

    .ipnav {
        display: flex;
        padding: 30px;
    }

    .textNavigasiHomeProduct {
        font-weight: normal;
        font-size: 35px;
    }

    .navigasiHomeProduct {
        font-size: medium;
    }

    .tombol-produk {
        width: 120px;
    }

    .navigasiHomeProduct {
        font-size: 10px;
    }

    .youtube-grid {
        display: grid;
        padding: 10px;
        grid-template-areas:
            'sub-youtube1 sub-youtube2'
            'youtube-katamereka sub-youtube2';
    }

    .youtube-katamereka {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

}

@media (min-width: 1024px) {
    .ipnav {
        display: none;
    }

    .pcnav {
        display: flex;
    }

    .tombol-produk {
        width: 200px;
    }

    .navigasiHomeProduct {
        font-size: small;
    }

    .textNavigasiHomeProduct {
        font-weight: lighter;
        font-size: 30px;
        padding: 100px;
    }

    .youtube-grid {
        gap: 50px;
        grid-template-areas:
            'sub-youtube1 sub-youtube1 sub-youtube2'
            'youtube-katamereka youtube-katamereka sub-youtube2';
    }

}

@media (min-width: 1440px) {

    .textNavigasiHomeProduct {
        font-weight: lighter;
        font-size: 30px;
        padding: 200px
    }

}

/* breakpoint end */