/* nav start */
body {
    color: #69422d;
}

/* start animation */
.containercard{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 0;

}

.containercard .card{
    position: relative;
    height: 250px;
    background: #c2846a69;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.containercard .card .imgbx{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #c2846a69;
    backdrop-filter: blur(5px);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5p 5px 30px rgba(0,0,0,0.1);
    transition: 0.5s ease-in-out;
}

.containercard .card:hover .imgbx{
    height: 150px;
    width: 150px;
    left: -75px;
    top: calc(50%- 75px);
}

.containercard .card .imgbx img{
    max-width: 100px;
    filter: invert(1);
    transition: 0.5s ease-in-out;
}

.containercard .card:hover .imgbx img{
    max-width: 75px;
}

.containercard .card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px;);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containercard .card .content h3{
    color: white;
    margin-bottom: 5px;
    font-size: 24px;
}
.containercard .card .content p{
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

/* end animation */

/* Navbar container */
.costumproduct {
    overflow: hidden;
    background-color: #bd7658a3;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Links inside the navbar */
  .costumproduct a {
    float: left;
    font-size: 16px;
    color: #ffffffa3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .drop {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .drop .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffffa3;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .costumproduct a:hover, .drop:hover .dropbtn {
    background-color: #9f6248;
  }
  
  /* Dropdown content (hidden by default) */
  .drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .drop-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .drop-content a:hover {
    background-color:  #bd7658a3;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .drop:hover .drop-content {
    display: block;
  }

.navbar-nav>.nav-link:hover {
    border-top: 3px solid #cb5e37;
    transition: all .3s;
}

.navbar-nav>.nav-link.active {
    border-top: 3px solid #cb5e37;

}

.navbar-nav>.nav-link {
    border-top: 3px solid transparent;
    transition: all .3s;
}

/* .active{
    border-top: 3px solid #cb5e37;#
} */

.navigasiHomeProduct {
    font-size: x-small;
}

/* nav end */

/* start item Product */
.item:hover {
    background-color: #e6e3e0;
    transition: all .5s;
    border-radius: 10px;
    cursor: pointer;
    z-index: 9999;
}

/* end item product */

/* startt nav autohide */
.autohide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

/* end autohide */

/* button start */
.tombol {
    font-size: 1rem;
    background-color: #bd7658;
    border: none;
    border-radius: 2.5rem !important;
    color: #ffffff;
}

.tombol:hover {
    background-color: #99634c;
    color: #ffffff;
    transition: all .5s;
}

.tombol:hover>.fa {
    background-color: #99634c;
    color: #ffffff;
    transition: all .5s;
    padding-left: 2rem;
}

.tombol-produk {
    background-color: #c4c4c4;
    text-decoration: none;
    color: whitesmoke;
}

.tombol-produk:hover {
    color: whitesmoke;
    background-color: #d6592b;
    transition: all .5s;

}

.activeLeft {
    padding: 5px;
    cursor: pointer;
}

.activeLeft:hover {
    border-left: 3px solid #cb5e37;
}

/* button end */

/* icon start*/
.icon {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 2rem;
}

.icon:hover {
    background-color: #cb5e37;
    color: #fefdf9;
    transition: all .5s;
}

/* icon end */

.item-project>.deskripsi-project {
    transition: all 0.3s;
}

.item-project>.head-project {
    transition: all 0.3s;
}

.item-project:hover>.deskripsi-project {
    transition: all 0.3s;
    box-shadow: 0rem 0rem 2rem 0.5rem rgb(0 0 0 / 15%) !important;
    transform: scale(1.01);
}

.item-project:hover>.head-project {
    transition: all 0.3s;
    transform: scale(1.01);
}




/* image start */
.imageHead {
    cursor: pointer;
    transition: all .3s;
}

.imageHead:hover {
    transform: scale(1.1, 1.1);
    transition: all .5s;
}

/* image end */

/* youtube start */
.youtube-grid {
    display: grid;
    padding: 10px;
    grid-template-areas:
        'sub-youtube1 sub-youtube2'
        'youtube-katamereka sub-youtube2';
}

.sub-youtube1 {
    display: grid;
    grid-area: sub-youtube1;
    place-content: center;
    padding-top: 20px;

}

.sub-youtube2 {
    display: grid;
    grid-area: sub-youtube2;

}

.youtube-katamereka {
    display: grid;
    grid-area: youtube-katamereka;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 25px;
    gap: 10px;

}

.youtubeimg {
    padding: 10px;

}

.coveryoutube {
    background-color: whitesmoke;
}

/* youtube end */

/* nav content start */
.tab-content {
    /* background-color: #bd7658; */
    padding: 1px;
}

.nav-tabs {
    border-bottom: transparent;
    /* border-top: 1px solid #dddddd; */
    margin-top: -250px;
    margin-left: 10px;
    position: absolute;
}

.nav-tabs>li {
    float: left;

}

.nav-tabs>.nav-link {
    color: #f8f1ee;
    line-height: 1.42857143;
    background-color: #aa6a4f;
    border-radius: 0 0 4px 4px;
    padding: 10px;

}

.nav-tabs>.nav-link:hover {
    border: transparent;
    /* font-weight: bold; */
    transition: all 0.3s;
}

.nav-tabs>.nav-link.active {
    color: #ADA7B0 !important;
    background-color: #714735 !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-bottom-color: transparent !important;
}

.nav-tabs>.nav-link.active:hover,
.nav-tabs>.nav-link.active:focus {
    color: #fefdf9;
    /* background-color: #cb5e37; */
    /* border: 2px solid #cb5e37; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent !important;
    cursor: default;
}

/* nav end */
.box-client {
    border: 1px solid #e5e5e5;
    height: 9rem;
    width: 9rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.box-client>img {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    filter: grayscale(100%);
}

.box-client:hover>img {
    filter: grayscale(0%);
}

/* project start */
.btnProject {
    text-decoration: none;
    color: black;
}

.btnProject:hover {
    color: #cb5e37;
}

.btn-imgrole {
    width: 250px; height:30px; 
    background-color:transparent;
    border: transparent;
    color: #ffffff9e;
}
.imgrole {
   
    margin: auto; 
    background-color:#aa6a4f; 
    padding: 8px; 
    opacity: 0.9;
    box-shadow: 0 0 0 2px #ffffff52;
}
.imgrole:hover {
    margin: auto; 
    background-color:#aa6a4f; 
    padding: 8px; 
    opacity: 1;
    box-shadow: none;
    transition: all 0.3s;
}

@media (min-width: 320px) {
    .imageHead {
        width: 300px;
        height: 300px;
        padding-bottom: 20px;
    }

    /* .projectList:hover {
        background-color: #F5F5F5;
        transform: scale(1, 1.4);
        transition: all .3s;
        border: 5px solid  #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
    } */

    .contact {
        border: 2px solid #9b7856;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    .pcnav {
        display: none;
    }

    .ipnav {
        display: flex;
    }

    .navigasiHomeProduct {
        font-size: x-small;
    }

    .tombol-produk {
        width: 100%;
    }

    .youtube-grid {
        display: grid;
        padding: 10px;
        grid-template-areas:
            'sub-youtube1'
            'youtube-katamereka'
            'sub-youtube2';
    }

    .youtube-katamereka {
        grid-template-columns: 1fr;
        padding: 0;
    }
}

@media (min-width: 375px) {
    .imageHead {
        width: 300px;
        height: 300px;
        padding-bottom: 20px;
    }

    .box-project>img {
        width: 200px;
        height: 100px;
    }

    /* .projectList:hover {
        background-color: #F5F5F5;
        transform: scale(1, 1.4);
        transition: all .3s;
        border: 5px solid  #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        
    } */

    .pcnav {
        display: none;
    }

    .ipnav {
        display: flex;
    }

    .navigasiHomeProduct {
        font-size: x-small;
    }

    .tombol-produk {
        width: 100%;
    }

    .youtube-grid {
        display: grid;
        padding: 10px;
        grid-template-areas:
            'sub-youtube1'
            'youtube-katamereka'
            'sub-youtube2';
    }

    .youtube-katamereka {
        grid-template-columns: 1fr;

    }
}

@media (min-width: 425px) {
    .imageHead {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .box-project>img {
        width: 300px;
        height: 200px;
    }

    .ipnav {
        display: flex;
        padding: 15px;
    }

    .textNavigasiHomeProduct {
        font-weight: normal;
        color: #bd7658;
    }

    .youtube-grid {
        display: grid;
        padding: 10px;
        grid-template-areas:
            'sub-youtube1'
            'youtube-katamereka'
            'sub-youtube2';
    }

    .youtube-katamereka {
        grid-template-columns: 1fr;
        padding: 25px;

    }
}

@media (min-width: 768px) {

    .imageHead {
        width: 500px;
        height: 500px;
    }

    .ipnav {
        display: flex;
        padding: 30px;
    }

    .textNavigasiHomeProduct {
        font-weight: normal;
        font-size: 35px;
    }

    .navigasiHomeProduct {
        font-size: medium;
    }

    .tombol-produk {
        width: 120px;
    }

    .navigasiHomeProduct {
        font-size: 10px;
    }

    .youtube-grid {
        display: grid;
        padding: 10px;
        grid-template-areas:
            'sub-youtube1 sub-youtube2'
            'youtube-katamereka sub-youtube2';
    }

    .youtube-katamereka {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

}

@media (min-width: 1024px) {
    .ipnav {
        display: none;
    }

    .pcnav {
        display: flex;
    }

    .tombol-produk {
        width: 200px;
    }

    .navigasiHomeProduct {
        font-size: small;
    }

    .textNavigasiHomeProduct {
        font-weight: lighter;
        font-size: 30px;
        padding: 100px;
    }

    .youtube-grid {
        gap: 50px;
        grid-template-areas:
            'sub-youtube1 sub-youtube1 sub-youtube2'
            'youtube-katamereka youtube-katamereka sub-youtube2';
    }

}

@media (min-width: 1440px) {

    .textNavigasiHomeProduct {
        font-weight: lighter;
        font-size: 30px;
        padding: 200px
    }

}

/* breakpoint end */